
//@theme "/usr/share/rofi/themes/fancy.rasi"

//@theme "/home/aditya/.config/rofi/themes/rounded-nord-dark.rasi"

//@theme "/home/aditya/.config/rofi/themes/rounded-green-dark.rasi"

//@theme "/home/aditya/.config/rofi/themes/launchpad.rasi"

//@theme "/home/aditya/.config/rofi/themes/rounded-green-dark.rasi"

//@theme "/home/aditya/.config/rofi/themes/rounded-orange-dark.rasi"

@theme "/home/aditya/.config/rofi/themes/rounded-green-dark.rasi"
